<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="3px">
  <tr>
    <th>NOMBRE</th>
    <th>APELLIDO</th>
    <th>FECHA DE NACIMIENTO</th>
    <th>NACIONALIDAD</th>
    <th>TELEFONO</th>
  </tr>
  <tr th:each="huesped : ${huespedes}">
    <td th:text="${huesped.nombre}"></td>
    <td th:text="${huesped.apellido}"></td>
    <td th:text="${huesped.fechanacimiento}"></td>
    <td th:text="${huesped.nacionalidad}"></td>
    <td th:text="${huesped.telefono}"></td>
  </tr>
</table>

</body>
</html>